* text=auto

/.codecov.yml                   export-ignore
/.gitattributes                 export-ignore
/.github                        export-ignore
/.gitignore                     export-ignore
/.php-cs-fixer.dist.php         export-ignore
/.scrutinizer.yml               export-ignore
/.symfony.bundle.yaml           export-ignore
/bin                            export-ignore
/config                         export-ignore
/docker                         export-ignore
/docker-compose.yaml            export-ignore
/Makefile                       export-ignore
/phpstan.neon                   export-ignore
/phpunit-dama-doctrine.xml.dist export-ignore
/phpunit.xml.dist               export-ignore
/tests                          export-ignore
