/composer.lock
/phpunit.xml
/phpunit-10.xml
/.phpunit.cache
/vendor/
/bin/tools/*/vendor/
/bin/tools/csfixer
/build/
/.php-cs-fixer.cache
/.phpunit.result.cache
/tests/Fixtures/tmp
/var/
/docs/output/
/docker/.makefile
/.env.local
/docker-compose.override.yaml
/tests/Fixture/Maker/tmp/
