default:
    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: Zenstruck\Foundry\Tests\Fixtures\Kernel
            bootstrap: tests/bootstrap.php

    suites:
        default:
            paths: [ "%paths.base%/tests/Behat" ]
            contexts:
                - Zenstruck\Foundry\Tests\Behat\TestContext
                - Zenstruck\Foundry\Test\Behat\FactoriesContext
                - Zenstruck\Foundry\Test\Behat\ResetDatabaseContext
