parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string\\|null given\\.$#"
			count: 1
			path: src/Bundle/DependencyInjection/GlobalStatePass.php

		-
			message: "#^Parameter \\#1 \\$class of method Doctrine\\\\Persistence\\\\ManagerRegistry\\:\\:getManagerForClass\\(\\) expects class\\-string, string given\\.$#"
			count: 1
			path: src/Configuration.php

		-
			message: "#^Parameter \\#1 \\$min of function random_int expects int, int\\|null given\\.$#"
			count: 1
			path: src/FactoryCollection.php

		-
			message: "#^Parameter \\#2 \\$max of function random_int expects int, int\\|null given\\.$#"
			count: 1
			path: src/FactoryCollection.php

		-
			message: "#^Method Zenstruck\\\\Foundry\\\\RepositoryProxy\\:\\:proxyResult\\(\\) should return array\\<int, Zenstruck\\\\Foundry\\\\Proxy\\<TProxiedObject of object\\>\\>\\|Zenstruck\\\\Foundry\\\\Proxy\\<TProxiedObject of object\\> but returns \\(TProxiedObject of object\\)\\|null\\.$#"
			count: 1
			path: src/RepositoryProxy.php

		-
			message: "#^Method Zenstruck\\\\Foundry\\\\Test\\\\DatabaseResetter\\:\\:getConfiguration\\(\\) should return Zenstruck\\\\Foundry\\\\Configuration\\|null but returns object\\|null\\.$#"
			count: 1
			path: src/Test/DatabaseResetter.php

		-
			message: "#^Parameter \\#1 \\$globalStateRegistry of static method Zenstruck\\\\Foundry\\\\Test\\\\TestState\\:\\:flushGlobalState\\(\\) expects Zenstruck\\\\Foundry\\\\Test\\\\GlobalStateRegistry\\|null, object\\|null given\\.$#"
			count: 1
			path: src/Test/DatabaseResetter.php

		-
			message: "#^Parameter \\#2 \\$registry of class Zenstruck\\\\Foundry\\\\Test\\\\ODMSchemaResetter constructor expects Doctrine\\\\Persistence\\\\ManagerRegistry, object\\|null given\\.$#"
			count: 1
			path: src/Test/DatabaseResetter.php

		-
			message: "#^Parameter \\#2 \\$registry of class Zenstruck\\\\Foundry\\\\Test\\\\ORMDatabaseResetter constructor expects Doctrine\\\\Persistence\\\\ManagerRegistry, object\\|null given\\.$#"
			count: 1
			path: src/Test/DatabaseResetter.php

		-
			message: "#^Call to an undefined method object\\:\\:getDatabasePlatform\\(\\)\\.$#"
			count: 1
			path: src/Test/ORMDatabaseResetter.php

		-
			message: "#^Parameter \\#1 \\$configuration of static method Zenstruck\\\\Foundry\\\\Factory\\<object\\>\\:\\:boot\\(\\) expects Zenstruck\\\\Foundry\\\\Configuration, object\\|null given\\.$#"
			count: 1
			path: src/ZenstruckFoundryBundle.php

		-
			message: "#^Function Zenstruck\\\\Foundry\\\\anonymous\\(\\) should return Zenstruck\\\\Foundry\\\\Factory\\<TObject of object\\> but returns class@anonymous/src/functions\\.php\\:45\\.$#"
			count: 1
			path: src/functions.php
