includes:
	- phpstan-baseline.neon
	- phpstan-foundry.neon

parameters:
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkUninitializedProperties: true
    checkGenericClassInNonGenericObjectType: false
    paths:
        - ./src

        # let's analyse a factory generated with maker
        - ./tests/Fixtures/Maker/expected/can_create_factory.php

        # and a factory used in tests
        - ./tests/Fixtures/Factories/PostFactory.php
    level: 8
    bootstrapFiles:
        - ./vendor/autoload.php
    banned_code:
        nodes:
            # enable detection of die/exit
            -
                type: Expr_Exit
                functions: null

            # enable detection of a set of functions
            -
                type: Expr_FuncCall
                functions:
                    - dd
                    - debug_backtrace
                    - dump
                    - print_r
                    - var_dump
    excludePaths:
        - ./src/Bundle/Resources
        - ./src/PhpStan
        - ./src/Psalm
