includes:
	- phpstan-baseline.neon

parameters:
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkUninitializedProperties: true
    checkGenericClassInNonGenericObjectType: false
    paths:
        - ./src

        # let's analyse factories generated with maker
        - ./tests/Fixtures/Maker/expected/can_create_factory_for_entity_with_repository_with_data_set_phpstan.php
        - ./tests/Fixtures/Maker/expected/can_create_factory_with_static_analysis_annotations_with_data_set_phpstan.php
    level: 8
    bootstrapFiles:
        - ./vendor/autoload.php
    banned_code:
        nodes:
            # enable detection of die/exit
            -
                type: Expr_Exit
                functions: null

            # enable detection of a set of functions
            -
                type: Expr_FuncCall
                functions:
                    - dd
                    - debug_backtrace
                    - dump
                    - print_r
                    - var_dump
    excludePaths:
        - ./src/Bundle/Resources

        # phpstan runs with orm 3 - there are too many failures in these files which are compatible with orm 2
        - ./src/Bundle/Maker/Factory/LegacyORMDefaultPropertiesGuesser.php
        - ./src/Bundle/Maker/Factory/DoctrineScalarFieldsDefaultPropertiesGuesser.php

    ignoreErrors:
        -
            message: '#Unsafe usage of new static\(\).*#'
            path: ./src/ModelFactory.php
