parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string\\|null given\\.$#"
			count: 1
			path: src/Bundle/DependencyInjection/GlobalStatePass.php

		-
			message: "#^Constructor of class Zenstruck\\\\Foundry\\\\Factory has an unused parameter \\$class\\.$#"
			count: 1
			path: src/Factory.php

		-
			message: "#^Constructor of class Zenstruck\\\\Foundry\\\\Factory has an unused parameter \\$defaultAttributes\\.$#"
			count: 1
			path: src/Factory.php

		-
			message: "#^Parameter \\#1 \\$min of function random_int expects int, int\\|null given\\.$#"
			count: 1
			path: src/FactoryCollection.php

		-
			message: "#^Parameter \\#2 \\$max of function random_int expects int, int\\|null given\\.$#"
			count: 1
			path: src/FactoryCollection.php

		-
			message: "#^Method Zenstruck\\\\Foundry\\\\ModelFactory\\:\\:__callStatic\\(\\) should return array\\<int, Zenstruck\\\\Foundry\\\\Proxy\\<TModel of object\\>\\> but returns array\\<int, TModel of object\\>\\.$#"
			count: 1
			path: src/ModelFactory.php

		-
			message: "#^Method Zenstruck\\\\Foundry\\\\RepositoryProxy\\:\\:proxyResult\\(\\) should return array\\<int, Zenstruck\\\\Foundry\\\\Proxy\\<TProxiedObject of object\\>\\>\\|Zenstruck\\\\Foundry\\\\Proxy\\<TProxiedObject of object\\> but returns \\(TProxiedObject of object\\)\\|null\\.$#"
			count: 1
			path: src/RepositoryProxy.php

		-
			message: "#^Method Zenstruck\\\\Foundry\\\\Test\\\\DatabaseResetter\\:\\:getConfiguration\\(\\) should return Zenstruck\\\\Foundry\\\\Configuration\\|null but returns object\\|null\\.$#"
			count: 1
			path: src/Test/DatabaseResetter.php

		-
			message: "#^Parameter \\#1 \\$globalStateRegistry of static method Zenstruck\\\\Foundry\\\\Test\\\\TestState\\:\\:flushGlobalState\\(\\) expects Zenstruck\\\\Foundry\\\\Test\\\\GlobalStateRegistry\\|null, object\\|null given\\.$#"
			count: 1
			path: src/Test/DatabaseResetter.php

		-
			message: "#^Parameter \\#2 \\$registry of class Zenstruck\\\\Foundry\\\\Test\\\\ODMSchemaResetter constructor expects Doctrine\\\\Persistence\\\\ManagerRegistry, object\\|null given\\.$#"
			count: 1
			path: src/Test/DatabaseResetter.php

		-
			message: "#^Parameter \\#2 \\$registry of class Zenstruck\\\\Foundry\\\\Test\\\\ORMDatabaseResetter constructor expects Doctrine\\\\Persistence\\\\ManagerRegistry, object\\|null given\\.$#"
			count: 1
			path: src/Test/DatabaseResetter.php

		-
			message: "#^Call to an undefined method object\\:\\:getDatabasePlatform\\(\\)\\.$#"
			count: 1
			path: src/Test/ORMDatabaseResetter.php

		-
			message: "#^Parameter \\#1 \\$factoryManager of static method Zenstruck\\\\Foundry\\\\BaseFactory\\<mixed\\>\\:\\:boot\\(\\) expects Zenstruck\\\\Foundry\\\\FactoryManager, object\\|null given\\.$#"
			count: 1
			path: src/ZenstruckFoundryBundle.php

		-
			message: "#^Parameter \\#1 \\$persistenceManager of static method Zenstruck\\\\Foundry\\\\Persistence\\\\PersistentObjectFactory\\<object\\>\\:\\:bootPersistentObjectFactory\\(\\) expects Zenstruck\\\\Foundry\\\\Persistence\\\\PersistenceManager, object\\|null given\\.$#"
			count: 1
			path: src/ZenstruckFoundryBundle.php

		-
			message: "#^Parameter \\#2 \\$configuration of static method Zenstruck\\\\Foundry\\\\BaseFactory\\<mixed\\>\\:\\:boot\\(\\) expects Zenstruck\\\\Foundry\\\\Configuration, object\\|null given\\.$#"
			count: 1
			path: src/ZenstruckFoundryBundle.php

		-
			message: "#^Function Zenstruck\\\\Foundry\\\\create_many\\(\\) should return array\\<int, Zenstruck\\\\Foundry\\\\Proxy\\<T of object\\>\\> but returns array\\<int, T of object\\>\\.$#"
			count: 1
			path: src/functions.php

		-
			message: "#^Function Zenstruck\\\\Foundry\\\\instantiate_many\\(\\) should return array\\<int, Zenstruck\\\\Foundry\\\\Proxy\\<T of object\\>\\> but returns array\\<int, T of object\\>\\.$#"
			count: 1
			path: src/functions.php
