<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/9.5/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
         failOnRisky="true"
         failOnWarning="true">

    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="KERNEL_CLASS" value="Zenstruck\Foundry\Tests\Fixtures\Kernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=99999&amp;max[direct]=99999&amp;quiet[]=indirect&amp;quiet[]=other"/>
        <env name="SHELL_VERBOSITY" value="0"/>
    </php>

    <coverage>
        <include>
            <directory>./src/</directory>
        </include>
        <exclude>
            <directory>./src/Bundle/Resources/</directory>
        </exclude>
    </coverage>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
