<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="tests/bootstrap.php" colors="true" failOnRisky="true" failOnWarning="true" cacheDirectory=".phpunit.cache">
  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="KERNEL_CLASS" value="Zenstruck\Foundry\Tests\Fixture\TestKernel"/>
    <server name="SHELL_VERBOSITY" value="-1"/>
    <env name="USE_DAMA_DOCTRINE_TEST_BUNDLE" value="1"/>
  </php>
  <testsuites>
    <testsuite name="zenstruck/foundry Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
  <extensions>
    <bootstrap class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension" />
  </extensions>
</phpunit>
