parameters:
    inferPrivatePropertyTypeFromConstructor: true
    checkUninitializedProperties: true
    paths:
        - ./src
        - ./tests
    level: 8
    bootstrapFiles:
        - ./tests/bootstrap.php
    excludePaths:
        - ./tests/Fixtures
