name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 1,16 * *'

jobs:
  tests:
    name: PHP ${{ matrix.php }} - ${{ matrix.stability }}
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: 1234
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: 1234
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    strategy:
      matrix:
        php: [7.2, 7.3, 7.4]
        stability: [prefer-stable]
        include:
          - php: 7.2
            stability: prefer-lowest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.3

      - name: Verify MySQL version
        run: mysql --host 127.0.0.1 -uroot -p1234 -e "STATUS"

      - name: Setup PHP
        uses: shivammathur/setup-php@2.7.0
        with:
          php-version: ${{ matrix.php }}
          extensions: pgsql
          coverage: none

      - name: Cache dependencies
        uses: actions/cache@v2.1.2
        with:
          path: ~/.composer/cache/files
          key: dependencies-${{ matrix.php }}-${{ matrix.stability }}-${{ hashFiles('composer.json') }}

      - name: Install dependencies
        run: composer update --${{ matrix.stability }} --prefer-dist --no-interaction --no-suggest

      - name: 'Test: MySQL'
        run: vendor/bin/simple-phpunit -v
        env:
          DATABASE_URL: mysql://root:1234@127.0.0.1:3306/zenstruck_foundry?serverVersion=5.7

      - name: 'Test: MySQL, FoundryBundle'
        run: vendor/bin/simple-phpunit -v
        env:
          USE_FOUNDRY_BUNDLE: 1
          DATABASE_URL: mysql://root:1234@127.0.0.1:3306/zenstruck_foundry?serverVersion=5.7

      - name: 'Test: MySQL, DAMABundle'
        run: vendor/bin/simple-phpunit -v --configuration phpunit-dama-doctrine.xml.dist
        env:
          DATABASE_URL: mysql://root:1234@127.0.0.1:3306/zenstruck_foundry?serverVersion=5.7

      - name: 'Test: MySQL, FoundryBundle, DAMABundle'
        run: vendor/bin/simple-phpunit -v --configuration phpunit-dama-doctrine.xml.dist
        env:
          USE_FOUNDRY_BUNDLE: 1
          DATABASE_URL: mysql://root:1234@127.0.0.1:3306/zenstruck_foundry?serverVersion=5.7

      - name: 'Test: PostgreSQL'
        run: vendor/bin/simple-phpunit -v
        env:
          DATABASE_URL: postgresql://postgres:1234@127.0.0.1:5432/zenstruck_foundry?charset=utf8

      - name: 'Test: PostgreSQL, FoundryBundle'
        run: vendor/bin/simple-phpunit -v
        env:
          USE_FOUNDRY_BUNDLE: 1
          DATABASE_URL: postgresql://postgres:1234@127.0.0.1:5432/zenstruck_foundry?charset=utf8

#      - name: 'Test: PostgreSQL, DAMABundle'
#        run: vendor/bin/simple-phpunit -v --configuration phpunit-dama-doctrine.xml.dist
#        env:
#          DATABASE_URL: postgresql://postgres:1234@127.0.0.1:5432/zenstruck_foundry?charset=utf8

#      - name: 'Test: PostgreSQL, FoundryBundle, DAMABundle'
#        run: vendor/bin/simple-phpunit -v --configuration phpunit-dama-doctrine.xml.dist
#        env:
#          USE_FOUNDRY_BUNDLE: 1
#          DATABASE_URL: postgresql://postgres:1234@127.0.0.1:5432/zenstruck_foundry?charset=utf8

      - name: 'Test: SQLite'
        run: vendor/bin/simple-phpunit -v
        env:
          DATABASE_URL: sqlite:///%kernel.cache_dir%/app.db

      - name: 'Test: SQLite, FoundryBundle'
        run: vendor/bin/simple-phpunit -v
        env:
          USE_FOUNDRY_BUNDLE: 1
          DATABASE_URL: sqlite:///%kernel.cache_dir%/app.db

      - name: 'Test: SQLite, DAMABundle'
        run: vendor/bin/simple-phpunit -v --configuration phpunit-dama-doctrine.xml.dist
        env:
          DATABASE_URL: sqlite:///%kernel.cache_dir%/app.db

      - name: 'Test: SQLite, FoundryBundle, DAMABundle'
        run: vendor/bin/simple-phpunit -v --configuration phpunit-dama-doctrine.xml.dist
        env:
#          USE_FOUNDRY_BUNDLE: 1
          DATABASE_URL: sqlite:///%kernel.cache_dir%/app.db

  code-coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: 1234
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: 1234
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.3

      - name: Verify MySQL version
        run: mysql --host 127.0.0.1 -uroot -p1234 -e "STATUS"

      - name: Setup PHP
        uses: shivammathur/setup-php@2.7.0
        with:
          php-version: 7.4
          extensions: pgsql
          coverage: xdebug

      - name: Cache dependencies
        uses: actions/cache@v2.1.2
        with:
          path: ~/.composer/cache/files
          key: dependencies-coverage-${{ matrix.php }}-${{ hashFiles('composer.json') }}

      - name: Install dependencies
        run: composer update --prefer-dist --no-interaction --no-suggest

      - name: 'Coverage: MySQL'
        run: vendor/bin/simple-phpunit -v --coverage-text --coverage-clover=mysql.clover
        env:
          DATABASE_URL: mysql://root:1234@127.0.0.1:3306/zenstruck_foundry?serverVersion=5.7

      - name: 'Coverage: MySQL, FoundryBundle'
        run: vendor/bin/simple-phpunit -v --coverage-text --coverage-clover=mysql-foundry.clover
        env:
          USE_FOUNDRY_BUNDLE: 1
          DATABASE_URL: mysql://root:1234@127.0.0.1:3306/zenstruck_foundry?serverVersion=5.7

      - name: 'Coverage: MySQL, DAMABundle'
        run: vendor/bin/simple-phpunit -v --coverage-text --coverage-clover=mysql-dama.clover --configuration phpunit-dama-doctrine.xml.dist
        env:
          DATABASE_URL: mysql://root:1234@127.0.0.1:3306/zenstruck_foundry?serverVersion=5.7

      - name: 'Coverage: MySQL, FoundryBundle, DAMABundle'
        run: vendor/bin/simple-phpunit -v --coverage-text --coverage-clover=mysql-foundry-dama.clover --configuration phpunit-dama-doctrine.xml.dist
        env:
          USE_FOUNDRY_BUNDLE: 1
          DATABASE_URL: mysql://root:1234@127.0.0.1:3306/zenstruck_foundry?serverVersion=5.7

      - name: 'Coverage: PostgreSQL'
        run: vendor/bin/simple-phpunit -v --coverage-text --coverage-clover=postgres.clover
        env:
          DATABASE_URL: postgresql://postgres:1234@127.0.0.1:5432/zenstruck_foundry?charset=utf8

      - name: 'Coverage: PostgreSQL, FoundryBundle'
        run: vendor/bin/simple-phpunit -v --coverage-text --coverage-clover=postgres-foundry.clover
        env:
          USE_FOUNDRY_BUNDLE: 1
          DATABASE_URL: postgresql://postgres:1234@127.0.0.1:5432/zenstruck_foundry?charset=utf8

#      - name: 'Coverage: PostgreSQL, DAMABundle'
#        run: vendor/bin/simple-phpunit -v --coverage-text --coverage-clover=postgres-dama.clover --configuration phpunit-dama-doctrine.xml.dist
#        env:
#          DATABASE_URL: postgresql://postgres:1234@127.0.0.1:5432/zenstruck_foundry?charset=utf8

#      - name: 'Coverage: PostgreSQL, FoundryBundle, DAMABundle'
#        run: vendor/bin/simple-phpunit -v --coverage-text --coverage-clover=postgres-foundry-dama.clover --configuration phpunit-dama-doctrine.xml.dist
#        env:
#          USE_FOUNDRY_BUNDLE: 1
#          DATABASE_URL: postgresql://postgres:1234@127.0.0.1:5432/zenstruck_foundry?charset=utf8

      - name: 'Coverage: SQLite'
        run: vendor/bin/simple-phpunit -v --coverage-text --coverage-clover=sqlite.clover
        env:
          DATABASE_URL: sqlite:///%kernel.cache_dir%/app.db

      - name: 'Coverage: SQLite, FoundryBundle'
        run: vendor/bin/simple-phpunit -v --coverage-text --coverage-clover=sqlite-foundry.clover
        env:
          USE_FOUNDRY_BUNDLE: 1
          DATABASE_URL: sqlite:///%kernel.cache_dir%/app.db

      - name: 'Coverage: SQLite, DAMABundle'
        run: vendor/bin/simple-phpunit -v --coverage-text --coverage-clover=sqlite-dama.clover --configuration phpunit-dama-doctrine.xml.dist
        env:
          DATABASE_URL: sqlite:///%kernel.cache_dir%/app.db

      - name: 'Coverage: SQLite, FoundryBundle, DAMABundle'
        run: vendor/bin/simple-phpunit -v --coverage-text --coverage-clover=sqlite-foundry-dama.clover --configuration phpunit-dama-doctrine.xml.dist
        env:
#          USE_FOUNDRY_BUNDLE: 1
          DATABASE_URL: sqlite:///%kernel.cache_dir%/app.db

      - name: Send code coverage
        run: |
          wget https://scrutinizer-ci.com/ocular.phar
          php ocular.phar code-coverage:upload --format=php-clover mysql.clover
          php ocular.phar code-coverage:upload --format=php-clover mysql-foundry.clover
          php ocular.phar code-coverage:upload --format=php-clover mysql-dama.clover
          php ocular.phar code-coverage:upload --format=php-clover mysql-foundry-dama.clover
          php ocular.phar code-coverage:upload --format=php-clover postgres.clover
          php ocular.phar code-coverage:upload --format=php-clover postgres-foundry.clover
          php ocular.phar code-coverage:upload --format=php-clover sqlite.clover
          php ocular.phar code-coverage:upload --format=php-clover sqlite-foundry.clover
          php ocular.phar code-coverage:upload --format=php-clover sqlite-dama.clover
          php ocular.phar code-coverage:upload --format=php-clover sqlite-foundry-dama.clover

  composer-validate:
    name: Validate composer.json
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.7.0
        with:
          php-version: 7.4
          coverage: none

      - name: Validate composer.json
        run: composer validate --strict --no-check-lock

  cs-check:
    name: PHP Coding Standards
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.7.0
        with:
          php-version: 7.4
          coverage: none

      - name: Install dependencies
        run: |
          wget https://cs.symfony.com/download/php-cs-fixer-v2.phar -O php-cs-fixer.phar
          php php-cs-fixer.phar self-update

      - name: Check CS
        run: php php-cs-fixer.phar fix --dry-run --diff --diff-format=udiff
