name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 1,16 * *'

jobs:
  tests:
    name: PHP ${{ matrix.php }} - ${{ matrix.stability }}
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: 1234
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    strategy:
      fail-fast: true
      matrix:
        php: [7.2, 7.3, 7.4]
        stability: [prefer-lowest, prefer-stable]
    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Verify MySQL version
        run: mysql --host 127.0.0.1 -uroot -p1234 -e "STATUS"

      - name: Setup PHP
        uses: shivammathur/setup-php@v1
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-${{ matrix.php }}-${{ matrix.stability }}-${{ hashFiles('composer.json') }}

      - name: Install dependencies
        run: composer update --${{ matrix.stability }} --prefer-dist --no-interaction --no-suggest

      - name: 'Test: MySQL'
        run: vendor/bin/phpunit -v
        env:
          DATABASE_URL: mysql://root:1234@127.0.0.1:3306/zenstruck_foundry?serverVersion=5.7

      - name: 'Test: MySQL, FoundryBundle'
        run: vendor/bin/phpunit -v
        env:
          USE_FOUNDRY_BUNDLE: 1
          DATABASE_URL: mysql://root:1234@127.0.0.1:3306/zenstruck_foundry?serverVersion=5.7

      - name: 'Test: MySQL, DAMABundle'
        run: vendor/bin/phpunit -v --configuration phpunit-dama-doctrine.xml.dist
        env:
          DATABASE_URL: mysql://root:1234@127.0.0.1:3306/zenstruck_foundry?serverVersion=5.7

      - name: 'Test: MySQL, FoundryBundle, DAMABundle'
        run: vendor/bin/phpunit -v --configuration phpunit-dama-doctrine.xml.dist
        env:
          USE_FOUNDRY_BUNDLE: 1
          DATABASE_URL: mysql://root:1234@127.0.0.1:3306/zenstruck_foundry?serverVersion=5.7

  code-coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: 1234
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Verify MySQL version
        run: mysql --host 127.0.0.1 -uroot -p1234 -e "STATUS"

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.4
          coverage: xdebug

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-coverage-${{ matrix.php }}-${{ hashFiles('composer.json') }}

      - name: Install dependencies
        run: composer update --prefer-dist --no-interaction --no-suggest

      - name: 'Coverage: MySQL'
        run: vendor/bin/phpunit -v --coverage-text --coverage-clover=mysql.clover
        env:
          DATABASE_URL: mysql://root:1234@127.0.0.1:3306/zenstruck_foundry?serverVersion=5.7

      - name: 'Coverage: MySQL, FoundryBundle'
        run: vendor/bin/phpunit -v --coverage-text --coverage-clover=mysql-foundry.clover
        env:
          USE_FOUNDRY_BUNDLE: 1
          DATABASE_URL: mysql://root:1234@127.0.0.1:3306/zenstruck_foundry?serverVersion=5.7

      - name: 'Coverage: MySQL, DAMABundle'
        run: vendor/bin/phpunit -v --coverage-text --coverage-clover=mysql-dama.clover
        env:
          DATABASE_URL: mysql://root:1234@127.0.0.1:3306/zenstruck_foundry?serverVersion=5.7

      - name: 'Coverage: MySQL, FoundryBundle, DAMABundle'
        run: vendor/bin/phpunit -v --coverage-text --coverage-clover=mysql-foundry-dama.clover
        env:
          USE_FOUNDRY_BUNDLE: 1
          DATABASE_URL: mysql://root:1234@127.0.0.1:3306/zenstruck_foundry?serverVersion=5.7

      - name: Send code coverage
        run: |
          wget https://scrutinizer-ci.com/ocular.phar
          php ocular.phar code-coverage:upload --format=php-clover mysql.clover
          php ocular.phar code-coverage:upload --format=php-clover mysql-foundry.clover
          php ocular.phar code-coverage:upload --format=php-clover mysql-dama.clover
          php ocular.phar code-coverage:upload --format=php-clover mysql-foundry-dama.clover

  composer-validate:
    name: Validate composer.json
    runs-on: ubuntu-latest
    steps:
      -   name: Checkout code
          uses: actions/checkout@v1

      -   name: Setup PHP
          uses: shivammathur/setup-php@v1
          with:
            php-version: 7.4
            coverage: none

      -   name: Validate composer.json
          run: composer validate --strict --no-check-lock

  cs-check:
    name: PHP Coding Standards
    runs-on: ubuntu-latest
    steps:
      -   name: Checkout code
          uses: actions/checkout@v1

      -   name: Setup PHP
          uses: shivammathur/setup-php@v1
          with:
            php-version: 7.4
            coverage: none

      -   name: Install dependencies
          run: |
            wget https://cs.symfony.com/download/php-cs-fixer-v2.phar -O php-cs-fixer.phar
            php php-cs-fixer.phar self-update

      -   name: Check CS
          run: php php-cs-fixer.phar fix --dry-run --diff
